<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MHS Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h4>MHS</h4>
            <div class="img-box">
                <img src="{{ url_for('static', path='icons/avatar.png') }}" alt="MHS">
            </div>
        </div>
        <a href="/login" class="google-btn">
            <div class="google-icon"></div>
            <span class="btn-text">Sign in with Gmail</span>
        </a>
    </div>
</body>
</html>